<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--/*@thymesVar id="appName" type="java.lang.String"*/-->
    <title th:text="${appName}"></title>
</head>
<body>
<div th:replace="~{menu::menu}"></div>

<!--/*@thymesVar id="appName" type="java.lang.String"*/-->
<p th:text="${appName}"></p>

<!--/*@thymesVar id="isProduction" type="java.lang.Boolean"*/-->
<p th:if="${isProduction}">This is a production environment.</p>

<!--/*@thymesVar id="isDevelopment" type="java.lang.Boolean"*/-->
<p th:if="${isDevelopment}">This is a development environment.</p>

<!--/*@thymesVar id="isAIEnabled" type="java.lang.Boolean"*/-->
<p th:if="${isAIEnabled}">AI is enabled.</p>

</body>
</html>
